.header {
  padding: 64px;
  font-family: 'myfont xian', Verdana, Geneva, sans-serif;
  background-image: url('../static/bg-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  line-height: 1.5;
  color: #7b7571;
}
.head_h3 {
  font-size: 22px;
  text-align: center;
  padding-bottom: 24px;
}
.head_h3::before, .head_h3::after {
  content: '';
  display: inline-block;
  margin: 0 8px;
  width: 20px;
  height: 2px;
  border-top: 1px solid #f9667e;

}

.names {
  text-align: center;
}
.names>li {
  font-size: 42px;
  font-family: 'myfont xi', Verdana, Geneva, sans-serif;
  color: #666;
}

.circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 26px;
  text-align: center;
  font-weight: normal;
  border-radius: 50%;
  margin: 0px;
  color: #FFF;
  background: #f9667e;
}


.date {
  padding-top: 24px;
  color: #222;
}
.date_year{
  font-size: 26px;
}
.date_month {
  font-size: 36px;
  border-bottom: 2px solid #f9667e;
}
.date_day {

}
.time {
  padding-top: 8px;
  font-size: 24px;
}
.sub_time {
  font-size: 18px;
}
